.dark-2{
    color:#474747
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px ;
}
 
ul li a{
    text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.header{
    background-image: url(images/developer.png) ,url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    background-color: bisque;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.greetings{
    font-size: 45px;
    font-weight: 600;
}
.title{
    font-weight: bold;
    font-size: 85px;
}
.description{
    font-size: 28px;
}
.profile-picture{
    width: 580px;
    height: 700px;
}
.about{
    background-color: bisque;
    max-width: 800px;
    padding: 140px 110px;
    text-align: center;
    margin: 100px auto 30px ;
}
.About-me{
    font-weight: bold;
    font-size: 50px;
}
.about-description{
    justify-content: center;
    padding: 30px 50px;
    font-size: 22px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}

.whatIDo{
    max-width: 800px;
    padding: 140px 110px;
    text-align: center;
    margin: 40px auto 30px;
}
.individual-task{
    display: flex;
    gap: 24px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}

.icon-description {
    font-size: 18px;
}
.icon-name{
    font-weight: 600;
}
.do-description{
    font-size: 20px;
}
.resume{
    margin: 40px 450px;
   
}
.resume-title{
    text-align: center;
}
.resume-container{
    display: flex;
    max-width: 1200px;
    padding: 40px 10px;
    gap: 24px;
}
footer{
    padding:130px 230px;
    display: flex;
    gap: 100px;
}
.footer-class{
    background-color: bisque;
}
.footer-column{
    width: 50%;
}
footer input[type = "text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}